#intro {
    background: url("lib/img/panorama-3094696_1920.jpg") no-repeat center center;
    background-size: cover;
  }

  #intro .h6 {
    font-weight: 300;
    line-height: 1.7;
  }
  

.full-height header, .view {
    max-height: 62%;
  }
@media (min-width: 992px){
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}
