@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.p-5 {
  padding: 2rem !important;
}
.rgba-black-strong {
  background-color: rgba(70, 122, 183, 0.5)!important;
}