
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/db.lock
Trainning.mdf
Trainning_log.ldf
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide-wal
Stock/StockExchanges/StockExchanges.Model/bin/Debug/netcoreapp2.1/StockExchanges.Model.dll
Stock/StockExchanges/StockExchanges.Model/bin/Debug/netcoreapp2.1/StockExchanges.Model.pdb
Stock/StockExchanges/.vs/StockExchanges/v15/.suo
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide-wal
Stock/StockExchanges/StockExchanges.Model/bin/Debug/netcoreapp2.1/StockExchanges.Model.dll
Stock/StockExchanges/StockExchanges.Model/bin/Debug/netcoreapp2.1/StockExchanges.Model.pdb
Stock/StockExchanges/.vs/StockExchanges/v15/.suo
Stock/StockExchanges/.vs/StockExchanges/v15/.suo
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide-shm
Stock/StockExchanges/.vs/StockExchanges/v15/Server/sqlite3/storage.ide-wal
