<!--<section class="row no-gutters" id="features" style="height: 100%; max-height:38%">
  <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s">
      <i class="fab fa-btc fa-2x"></i>
      <div class="h5 mt-3">Bitcoin News</div>
      <p class="mt-5">Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s" *ngFor='let model of featureModels'>
      <i class="fab fa-ethereum fa-2x"></i>
      <div class="h5 mt-3">
        {{model.category}}
      </div>
      <p class="mt-5">
        {{(model.content.length>100)? (model.content | slice:0:100)+'...':(model.content) }}
      </p>
    </div>
  </div>
</section>-->
<section class="row no-gutters" id="features" style="height: 100%; max-height:38%">
  <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s">
      <i class="fab fa-btc fa-2x"></i>
      <div class="h5 mt-3">
        <a style="color: #ffffff" [routerLink]='["/category/bitcoin"]'>Bitcoin News</a>
      </div>
      <p class="mt-5">Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s">
      <i class="fab fa-ethereum fa-2x"></i>
      <div class="h5 mt-3">Ethereum News</div>
      <p class="mt-5">Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s">
      <i class="fa fas fa-dollar-sign fa-2x"></i>
      <div class="h5 mt-3">Altcoin News</div>
      <p class="mt-5">Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s">
      <i class="fab fa-connectdevelop fa-2x"></i>
      <div class="h5 mt-3">Blockchains News</div>
      <p class="mt-5">Bring to the table win-win survival strategies to ensure proactive domination.</p>
    </div>
  </div>
</section>
