<footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center"><a class="px-3"><i class="fab fa-facebook fa-lg white-text"></i></a>
          <a class="px-3"><i class="fab fa-twitter fa-lg white-text"></i></a>
          <a class="px-3"><i class="fab fa-google-plus fa-lg white-text"></i></a>
          <a class="px-3"><i class="fab fa-linkedin fa-lg white-text"></i></a></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      <p>&copy; <a href="/">Stock Exchanges</a> - Design by: <a href="https://www.facebook.com/HoangPhuc10091992" target="_blank">Phuc Hoang Dinh</a></p>
    </div>
  </div>
</footer>