

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}


.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.post-detail-title {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.post-detail-text {
  text-align: justify;
}

.post-detail-comment{
  background-color: #f5f5f5;
  padding: 15px;
}
.post-detail-comment textarea{
  background-color: #fff;
  padding-left:5px;
}
.comment-detail {
  background-color: #fff;
  border-bottom: 1px dotted #dedede;
  padding: 5px;
  color: #8c8c8c;
}
/* #pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("lib/img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
} */
