<section class="py-5" id="post">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3 text-center">All News</h2>
      <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text">
        BLOCKCHAIN NEWS will be the fastest 24/7 update on the information around the Blockchain world. 
        If you are a person interested in digital money like Bitcoin, Ethereum,... then you can not ignore Blockchain platform build them.
      </p>
    </div>
    <div class="row mb-lg-4 center-on-small-only">
      <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s" *ngFor='let model of postModel'>
        <div class="col-md-6 float-left">
          <img class="img-fluid rounded z-depth-1 mb-3" src="assets/img/enterprise-blockchain.jpg" alt="blockchain" />
        </div>
        <div class="col-md-6 float-right">
          <a [routerLink]='["/post"]' class="h4">{{(model.shortDescription.length>30)? (model.shortDescription | slice:0:30)+'...':(model.shortDescription)}}</a>
          <p class="grey-text">
            {{(model.content.length>75)? (model.content | slice:0:75)+'...':(model.content) }}
          </p>
          <a [routerLink]='["/comment"]'>
            <i class="far fa-comment"></i>
            <span class="ml-1">{{model.totalComment}}</span>
          </a>
        </div>
      </div>
      
    </div>
    <!--<div class="row center-on-small-only">
      <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="..img/man-1.jpg" alt="team member" /></div>
        <div class="col-md-6 float-right">
          <div class="h4">Mark Hall</div>
          <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@markhall</span></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="..img/man-2.jpg" alt="team member" /></div>
        <div class="col-md-6 float-right">
          <div class="h4">Vincent Harris</div>
          <h6 class="font-bold blue-grey-text mb-4">Web Developer</h6>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@vincentharris</span></a>
        </div>
      </div>
    </div>-->
  </div>
</section>
