<section class="py-5 collapse show" id="category">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3 text-center">{{categoryModel.name}}</h2>
      <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text">
        {{categoryModel.description}}
      </p>
    </div>
    <div class="row mb-lg-4 center-on-small-only">
      <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s" *ngFor='let model of categoryModel?.posts'>
        <div class="col-md-6 float-left">
          <a [routerLink]='["/post-detail", model.id]'>
            <img class="img-fluid rounded z-depth-1 mb-3" src="assets/img/enterprise-blockchain.jpg" alt="blockchain" />
          </a>

        </div>
        <div class="col-md-6 float-right">
          <a [routerLink]='["/post-detail", model.id]' class="h4">{{(model.shortDescription.length>30)? (model.shortDescription | slice:0:30)+'...':(model.shortDescription)}}</a>
          <p class="grey-text">
            {{(model.content.length>75)? (model.content | slice:0:75)+'...':(model.content) }}
          </p>
          <a [routerLink]='["/comment"]'>
            <i class="far fa-comment"></i>
            <span class="ml-1">{{model.totalComment}}</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
