<section class="view hm-gradient" id="intro">
    <div class="full-bg-img d-flex align-items-center">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-10 col-lg-6 text-center text-md-left margins">
            <div class="white-text">
              <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-bold mt-sm-5">Blockchain News - The latest news in Blockchain technology</h1>
                <div class="h6">
                  BLOCKCHAIN NEWS will be the fastest 24/7 update on the information around the Blockchain world.
                  If you are a person interested in digital money like Bitcoin, Ethereum,
                  .. then you can not ignore Blockchain platform build them. Blockchian technology
                  promises to replace the financial systems of the future countries, digital currency
                  should also regularly update Blockchain to grasp the development trend.
                </div>
              </div><br>
              <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <a class="btn btn-white dark-grey-text font-bold ml-0" href="https://www.youtube.com/watch?v=SSo_EIwHSd4" target="_blank">
                  <i class="fa fa-play mr-1"></i>
                  View Demo
                </a>
                <a class="btn btn-outline-white" href="#projects">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>